# vm02: SRv6 ingress/egress node (nw1 + nw2)
# Interface: enp2s0 = nw1 (IPv4), enp3s0 = nw2 (IPv6)
interfaces:
  - dev: enp2s0
    addresses:
      - "10.1.0.2/24"
  - dev: enp3s0
    addresses:
      - "fd00:2::2/64"

sysctl_params:
  net.ipv4.ip_forward: "1"
  net.ipv6.conf.all.forwarding: "1"
  net.ipv6.conf.all.seg6_enabled: "1"
  net.ipv6.conf.enp3s0.seg6_enabled: "1"

# Routes to SRv6 locators via vm03
ipv6_routes:
  - dest: "fd00:a:6::/48"
    via: "fd00:2::3"
    dev: enp3s0
  - dest: "fd00:a:4::/48"
    via: "fd00:2::3"
    dev: enp3s0

# Forward: encap IPv4 destined to nw4 into SRv6 via vm06
srv6_encap_routes:
  - dest: "10.4.0.0/24"
    segs: "fd00:a:6::1,fd00:a:4::d4"
    dev: enp3s0

# Return: decap SRv6 from vm04 back to IPv4 toward vm01
srv6_local_sids:
  - sid: "fd00:a:2::d4"
    action: "End.DX4"
    nh4: "10.1.0.1"
    dev: enp2s0
