# vm04: SRv6 ingress/egress node (nw3 + nw4)
# Interface: enp2s0 = nw3 (IPv6), enp3s0 = nw4 (IPv4)
interfaces:
  - dev: enp2s0
    addresses:
      - "fd00:3::4/64"
  - dev: enp3s0
    addresses:
      - "10.4.0.4/24"

sysctl_params:
  net.ipv4.ip_forward: "1"
  net.ipv6.conf.all.forwarding: "1"
  net.ipv6.conf.all.seg6_enabled: "1"
  net.ipv6.conf.enp2s0.seg6_enabled: "1"

# Route to vm02's SRv6 locator via vm03
ipv6_routes:
  - dest: "fd00:a:2::/48"
    via: "fd00:3::3"
    dev: enp2s0

# Return: encap IPv4 destined to nw1 into SRv6
srv6_encap_routes:
  - dest: "10.1.0.0/24"
    segs: "fd00:a:2::d4"
    dev: enp2s0

# Forward: decap SRv6 from vm02 back to IPv4 toward vm05
srv6_local_sids:
  - sid: "fd00:a:4::d4"
    action: "End.DX4"
    nh4: "10.4.0.5"
    dev: enp3s0
